[data-style-actor-name="authBtnActor"].actor-wrapper {
    overflow: visible !important;

    &, .static-content {
        height: 100%;
    }

    .static-content {
        top: -1rem;
    }

    .user-actions {
        position: relative;
        top: -.5rem;

        a {
            text-decoration: none;
        }
    
        .user {
            color: $default-font-color;
            font-size: 1.6rem;
            height: auto;

            @include position-with-transform(
                $position: absolute,
                $top: 50%,
                $left: auto,
                $bottom: auto,
                $right: 0,
                $transform: translateY(-50%)
            );

            &.focus,
            &.hover {
                & + .dropdown {
                    visibility: visible;
                }
            }
        }
    
        .dropdown {
            visibility: hidden;
            list-style: none;
            // max-width: 50%;
            margin-top: 1rem;
            z-index: 2;
            background-color: $color-white;
            position: relative;
            top: 60px;
            border: 1px solid rgba($color: $color-dark, $alpha: .15);
            box-shadow: 0 0 1rem .3rem rgba($color: $color-dark, $alpha: .10);
    
            li {
                a {
                    padding: 1rem 2rem;
                    display: block;
                    color: $default-font-color;
                    font-size: 1.3rem;
                }
    
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($color: $color-dark, $alpha: .15);
                }
            }
        }
    }
}

