*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*[navigate] {
    cursor: pointer;
}

html {
    font-size: 62.5% !important;

    @include respond-to(sm-device) {
        /* Scale font to 6px */
        font-size: 46% !important; 
    }
}

body {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

.appFlexVertical,
.appFlexHorizantal {
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    // position: relative !important;
}

// .actor-wrapper {
//     padding-left: 2.5rem;
//     padding-right: 2.5rem;
// }

// html,
// body,
// .siteforcePrmBody,
// .siteforceContentArea,
// .contentRegion,
// [data-region-name="content"],
// .ui-widget,
// iframe,
// .cCenterPanel,
// .forceCommunitySection,
// .cb-section_row,
// .siteforceStarterBody {
//     height:100% !important;
// }

::selection {
    background-color: $color-primary !important;
    color: $color-white !important;
}

a {
    cursor: pointer;
    text-decoration: none;
}

[data-style-id="app"] {
    &:not([data-client="phone"]) {
        [data-style-id="static-content"] {
            padding: .6rem 1.2rem !important;
        }
    }
}

.salesforceIdentityLoginBody2 {
    .ui-widget {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}