/* Portal reset-password page styles */
div[pageid="portal_grower_reset_password"] {
    div[data-style-actor-name="ClsAppLayoutOneMain"] {
        &.actor-wrapper {
            top: 0 !important;
        }
    }

    div[data-style-actor-name="ClsAppLayoutOneContent"] {
        &.actor-wrapper {
            top: 0 !important;
            background: url('https://cfafs--rahuldev--c.visualforce.com/resource/dealerPortalBgImg') center/cover no-repeat !important;

            /* Background styles alternate */
            // background: left/cover no-repeat fixed !important;
            // background-image: 
            //                 linear-gradient(90deg, 
            //                                 rgba($color: $color-light, $alpha: .8) 0%,
            //                                 rgba($color: $color-light, $alpha: .8) 50%,
                                            
            //                                 rgba($color: $color-tertiary, $alpha: .9) 50% 
            //                                 ), 
            //                 url('https://cfafs--rahuldev--c.visualforce.com/resource/dealerPortalBgImg')!important;

            // @include respond-to(sm-device) {
            //     background-image: rl('https://cfafs--rahuldev--c.visualforce.com/resource/dealerPortalBgImg') !important;
            // }
        }
        
        & > div[data-style-actor-name="ClsAppLayoutOneContent"] {
            margin: 0 !important;
            width: 100% !important;
            height: 100% !important;
        }
    }
}