/* Portal reset-password page styles */
div[pageid="PortalResetPassword"] {
    div[data-style-actor-name="ClsAppLayoutOneMain"] {
        &.actor-wrapper {
            top: 0 !important;
        }
    }

    div[data-style-actor-name="ClsAppLayoutOneContent"] {
        &.actor-wrapper {
            top: 0 !important;
            background: url('https://cfafs--rahuldev--c.visualforce.com/resource/dealerPortalBgImg') center/cover no-repeat !important;
        }
        
        & > div[data-style-actor-name="ClsAppLayoutOneContent"] {
            margin: 0 !important;
            width: 100% !important;
            height: 100% !important;
        }
    }
}